body {
  background-color: #7e9181;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #2e3532;
  font-weight: bold;
}

.weather-app {
  background: #c8d0c8;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 20px 40px rgba(46, 53, 50, 0.5);
  border-radius: 15px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #2e3532;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f3f4f7;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #2e3532;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: #f3f4f7;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 35px;
  line-height: 48 px;
}

.weather-app-details {
  font-size: 16px;
  color: #2e3532;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #2e3532;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 90px;
  height: 90px;
}

.weather-app-temperature {
  font-size: 90px;
  line-height: 90px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 5px;
  font-size: 29px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #2e3532;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #2e3532;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #2e3532;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14;
  color: #2e3532;
}
